<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>filter_list</mat-icon>
    </mat-panel-title>
    <mat-panel-description>
      Filter
    </mat-panel-description>
  </mat-expansion-panel-header>
  <form [formGroup]="filterForm">
    <mat-form-field class="form-input-fields">
      <mat-label>Identyfikator użytkownika</mat-label>
      <label>
        <input (keyup.enter)="applyFilter($event)" formControlName="userIdentifier" matInput
               placeholder="Identyfikator użytkownika">
      </label>
    </mat-form-field>
    <mat-form-field class="form-input-fields">
      <mat-label>Nazwa piwa</mat-label>
      <label>
        <input (keyup.enter)="applyFilter($event)" formControlName="beerName" matInput placeholder="Nazwa piwa">
      </label>
    </mat-form-field>
  </form>
</mat-expansion-panel>
