:host {
  width: 100%;
  height: 10%;
  display: block;
  float: left;
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative !important;
  justify-content: center;
  align-items: center;
  background-color: ghostwhite;
  box-shadow: 0 0 1em grey;
}


.header img {
  height: 95%;
}

app-app-menu {
  margin-right: 25%;
}

app-acc-menu {
  margin-left: 25%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}
