<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table
       multiTemplateDataRows>
  <ng-container matColumnDef="note">
    <th *matHeaderCellDef mat-header-cell> Nuta</th>
    <td *matCellDef="let element" mat-cell> {{element.note}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef id="actionsCol" mat-header-cell style="padding-right: 0">
      <button (click)="onAddClick()" mat-icon-button style="float: right">
        <mat-icon>add</mat-icon>
      </button>
    </th>
    <td *matCellDef="let element" mat-cell style="padding-right: 0">
      <button (click)="onRemoveClick(element)" mat-icon-button style="float: right">
        <mat-icon>delete</mat-icon>
      </button>
      <button (click)="onEditClick(element)" mat-icon-button style="float: right">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr (click)="onClick(row); selectRow(row)" *matRowDef="let row;
  columns:
  displayedColumns;"
      [ngClass]="{'selected':selectedRows.includes(row) && allowSelection}"
      mat-row></tr>
</table>
<mat-paginator #paginator [length]="100"
               [pageSizeOptions]="[5, 10]"
               [pageSize]="10">
</mat-paginator>


