<div class="menu">
  <button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngIf="authenticated()" [routerLink]="'/admin-panel'" mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Zarządzanie danymi piw</span>
    </button>
    <button *ngIf="authenticated()" [routerLink]="'/beer-ratings'" mat-menu-item>
      <mat-icon>star</mat-icon>
      <span>Zarządzanie ocenami</span>
    </button>
    <button *ngIf="authenticated()" [routerLink]="'/predict'" mat-menu-item>
      <mat-icon>photo_camera</mat-icon>
      <span>Rozpoznaj</span>
    </button>
    <button [routerLink]="'/faq'" mat-menu-item>
      <mat-icon>question_answer</mat-icon>
      <span>FAQ</span>
    </button>
  </mat-menu>
</div>
