<div class="faq-component-body">
  <h1>Poradnik piwny</h1>


  <p>Jeśli tu zajrzałeś, to prawdopodobnie chciałbyś dowiedzieć się czegoś więcej o piwie. Tłumaczymy tutaj kilka
    ważnych rzeczy, które z pewnością pomogą Ci w przyszłych wyborach.</p>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Jak warzy się piwo?
        </mat-panel-title>
        <mat-panel-description>
          Podstawowe informacje o powstawaniu piwa
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Na początku zaciera się wodę ze słodem. W zależności od temperatury piwo będzie bardziej słodkie/wytrawne.
        Następnie dokonuje się filtracji powstałego zacieru. Kolejny etap to gotowanie powstałej cieczy z dodatkiem
        chmielu,
        w zależności od jego ilości oraz momentu, w którym zostanie dodany zmieni się goryczka i aromat piwa. Po tym
        następuje schłodzenie mikstury, w tym czasie miesza się drożdże z wodą i zostawia do rozmnożenia. Po krótkim
        czasie
        drożdże łączone są z mieszaniną i przelewane do fermentora. W tym miejscu w określonej temperaturze piwo
        fermentuje
        przez dwa tygodnie. Następnie dodawany jest cukier a piwo przelewane jest do butelek, w których musi przeczekać
        dwa
        tygodnie, aby mogło się nagazować i być dobre do spożycia.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Piwne style
        </mat-panel-title>
        <mat-panel-description>
          Podstawowy podział piw
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Przede wszystkim należy piwa podzielić na piwa dolnej i górnej fermentacji czyli podział względem tempertaury
        fermentacji drożdży. Dla piw dolnej fermentacji wynosi ona 8-12 stopni, natomiast dla górnej 16-20 stopni. </p>

      <h3>Przykładowe piwa dolnej fermentacji:</h3>
      <ul>
        <li> Lager - piwo jasne, z krótkim finiszem. Jego goryczka jest powyżej średniej, zarówno słód jak i aromat
          chmielu
          są mocno wyczuwalne.
        </li>
        <li> Pilzner - bardzo jasny lager z dużo mocniej wyczuwalną goryczką, ale mniejszą słodowością.</li>
        <li> Porter - mocne ciemne piwo z aromatami karmelu, lukrecji, czekolady lub ciemnych owoców.</li>
        <li> Bock - mocne ciemne piwo, w którym dominuje jego słód oraz aromat grzanki. Wyczuwalny jest również aromat
          chmielu, mimo że jego smak oraz goryczka są na niskim poziomie.
        </li>
      </ul>
      <h3>Przykładowe piwa górnej fermentacji:</h3>
      <ul>
        <li> Weizen - piwo pszeniczne z bardzo niskim lub nawet zerowym aromatem chmielu. Orzeźwiający smak osiągany
          jest
          dzięki kwaskowość cytrusów, wanilia lub nuty korzenno-owocowe.
        </li>
        <li> Stout - mocne, ciemne piwo z mocną goryczką, która osiągana jest dzięki procesowi palenia jęczmienia.
          Zarówno w
          aromacie jak i w smaku doszukać się można nut kawy, kakao oraz czekolady.
        </li>
        <li> Sour - kwaśne, jasne piwo. Orzeźwiające dzięki owocowej gamie smaków.</li>
        <li> IPA - jasne, mocne piwo, często bardzo gorzkie, intensywnie chmielone. Wytrawne, ale często znajdziemy IPY
          z
          wyczuwalnym słodem karmelowym.
        </li>
        <li> APA - IPA z mniejszą ilością goryczki i alkoholu. W smaku często owocowa lub leśna.</li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Piwny słowniczek
        </mat-panel-title>
        <mat-panel-description>
          Pojęcia ze świata piw
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ul>
        <li> Alkohol - oczywiście istnieją również piwa bezalkoholowe, ale dla standardowego piwa zawartość alkoholu
          wynosi
          między 3 a 14%.
        </li>
        <li> Chmiel - odpowiada za aromat i goryczkę piwa.</li>
        <li> Drożdże - przeprowadzają proces fermentacji - zamiany cukrów na alkohol i dwutlenek węgla. W zależności od
          odmiany drożdży piwo ma inny aromat.
        </li>
        <li> Ekstrakt (BLG) - ilość cukru w piwie przed fermentacją. Wysokie BLG mają piwa ciemne oraz mocno
          chmielone.
        </li>
        <li> EBC - stopień ciemności piwa i ilości słodu. Im większe tym piwo ciemniejsze np. Lager (1-10 EBC) natomiast
          Stout (>60 EBC)
        </li>
        <li> IBU - jednostka określająca stopień goryczki w piwie. Piwa z niskim IBU to najczęściej Weizeny lub piwa
          Sour,
          natomiast piwa z IBU na poziomie wyższym niż 40 to w większości IPY.
        </li>
        <li> Słód - ziarno (najczęściej jęczmienia może być też żyta, pszenicy czy orkiszu) zebrane i ususzone w
          momencie
          skiełkowania.
        </li>
        <li> Woda - główny składnik piwa. Jej właściwości oraz poziom PH wpływają na smak piwa</li>
      </ul>

    </mat-expansion-panel>
  </mat-accordion>

</div>
