<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Zarządzaj piwami">
    <app-beer-administration></app-beer-administration>
  </mat-tab>
  <mat-tab label="Zarządzaj browarami">
    <app-brewery-administration></app-brewery-administration>
  </mat-tab>
  <mat-tab label="Zarządzaj typami">
    <app-beer-type-administration></app-beer-type-administration>
  </mat-tab>
  <mat-tab label="Zarządzaj nutami">
    <app-beer-note-administration></app-beer-note-administration>
  </mat-tab>
</mat-tab-group>
