<div>
  <form [formGroup]="beerForm">
    <mat-form-field class="form-input-fields">
      <mat-label>Nazwa piwa</mat-label>
      <label>
        <input (keyup.enter)="onSearchClick()" formControlName="name" matInput placeholder="Nazwa piwa">
      </label>
    </mat-form-field>
    <mat-form-field class="form-input-fields">
      <mat-label>Nazwa browaru</mat-label>
      <label>
        <input (keyup.enter)="onSearchClick()" formControlName="breweryName" matInput placeholder="Nazwa browaru">
      </label>
    </mat-form-field>
  </form>
  <button mat-stroked-button (click)="onSearchClick()">Znajdź</button>
  <app-beer-table #table></app-beer-table>
</div>


